[submodule "nixpkgs"]
	path = mugen/nixpkgs
	url = https://github.com/ttuegel/nixpkgs.git
[submodule "programs/mathematica/nixpkgs"]
	path = programs/mathematica/nixpkgs
	url = https://github.com/ttuegel/nixpkgs.git
[submodule "legion/nixpkgs"]
	path = legion/nixpkgs
	url = https://github.com/NixOS/nixpkgs-channels.git
[submodule "duo/nixpkgs"]
	path = duo/nixpkgs
	url = https://github.com/ttuegel/nixpkgs.git
[submodule "config/nixpkgs/pkgs/nixpkgs-mozilla"]
	path = config/nixpkgs/nixpkgs-mozilla
	url = https://github.com/mozilla/nixpkgs-mozilla.git
