[submodule "nixpkgs"]
	path = nixpkgs
	url = https://github.com/ttuegel/nixpkgs.git
[submodule "pkgs/hplip"]
	path = pkgs/hplip
	url = git@github.com:NixOS/nixpkgs.git
[submodule "patchelf"]
	path = patchelf
	url = https://github.com/NixOS/patchelf.git
[submodule "pkgs/mathematica"]
	path = pkgs/mathematica
	url = https://github.com/NixOS/nixpkgs-channels.git
