[submodule "hosts/zeus/nixpkgs"]
	path = hosts/zeus/nixpkgs
	url = git@github.com:ttuegel/nixpkgs.git
[submodule "hosts/olympus/nixpkgs"]
	path = hosts/olympus/nixpkgs
	url = git@github.com:nixos/nixpkgs.git
[submodule "nixpkgs"]
	path = nixpkgs
	url = https://github.com/ttuegel/nixpkgs.git
